<div class="speech-bubble">
    <img class="sb-icon sb-icon-{{ bubble_side }} sb-icon-type-{{ bubble_icon_type }}" src='{{ bubble_icon }}' alt='' >
    <div class="sb-bubble sb-bubble-{{ bubble_side }}">
        <p>{{ bubble_text }}</p>
    </div>
</div>