<div class='speech-bubble'>
    <figure class='sb-icon sb-icon-{{ bubble_side }}'>
        <div class='sb-icon-type-{{ bubble_icon_type }}'>
            {{ bubble_icon.cropZoom(50,50).html(null, 'icon') }}
        </div>
        <figcaption>{{ bubble_icon_label }}</figcaption>
    </figure>
    <div class="sb-bubble sb-bubble-{{ bubble_side }} sb-bubble-type-{{ bubble_type }}">
        <p>{{ bubble_text }}</p>
    </div>
</div>