<div class="speech-bubble">
    <figure class="sb-icon sb-icon-{{ bubble_side }}">
        <img class="sb-icon-type-{{ bubble_icon_type }}" src='{{ bubble_icon }}' alt='' >
        <figcaption>{{ bubble_icon_label }}</figcaption>
    </figure>
    <div class="sb-bubble sb-bubble-{{ bubble_side }} sb-bubble-type-{{ bubble_type }}">
        <p>{{ bubble_text }}</p>
    </div>
</div>